{% extends 'student/basic.html' %}
{% load static %}
{% block body %}

<div class="topic pt-3">NEET Latest syllabus and exam information</div>

<section class="container">
    <!-- definition -->
    <div class="definition">
        <div class="heading">About NEET</div>
        <div class="content">
            <span>NEET</span> The National Eligibility cum Entrance Test (Undergraduate) or NEET (UG), formerly the All
            India Pre-Medical
            Test (AIPMT), is an all India pre-medical entrance test for students who wish to pursue undergraduate
            medical
            (MBBS),
            (BDS) and AYUSH (BAMS, BUMS, BHMS, etc.) courses in government and private institutions in India and also,
            for
            those
            intending to pursue primary medical qualification abroad.The exam is conducted by National Testing Agency
            (NTA),
            which
            provides the results to the Directorate General of Health Services under Ministry of Health and Family
            Welfare
            and
            State Counselling Authorities for seat allocation. NEET-UG replaced the All India Pre Medical Test (AIPMT)
            and
            many
            other pre-medical exams conducted by states and various medical colleges. However, due to lawsuits being
            filed
            against the exam, it could not be held in 2014 and 2015. NEET-UG is a single entrance test for admissions to
            more
            than 66,000 MBBS and BDS seats across India.
        </div>
    </div>

    <div class="heading">NEET Complete Syllabus</div>
    <div class="content"><a href="{% static 'assets/syllabus_pdf/neet/neet.pdf' %}" download="">Download NEET Syllabus By Clicking Here.</a></div>
   
    <!-- pattern -->
    <div class="heading">NEET Exam Pattern</div>
    <div class="row" style="border-top: 1px solid; border-right: 1px solid;">
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Factors</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">Details</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Name Of Exam</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">NEET</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Full Form</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">National Eligibility cum Entrance Test</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Exam Date</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">12 September 2021</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Exam Mode</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">Pen and Paper-based. (candidates are given an OMR sheet to mark the answers
                with a black or blue
                ballpoint pen)</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Duration and Time</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">3 hours (2:00 PM to 5:00 PM)</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Language/Medium</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">English, Hindi, Assamese, Bengali, Gujarati, Marathi, Tamil, Telugu, Oriya,
                Kannada and Urdu</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Question Type</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">Multiple Choice Questions</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Total Number of Questions</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">180 Questions</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Exam Section</div>
        </div>
        <div class="col-8 table_colums_border">
            <div class="row">
                <div class="col-6 p-3"
                    style="border-right: 1px solid black; border-bottom: 1px solid black; padding:10px 0px; ">Physics
                </div>
                <div class="col-3 p-3"
                    style="border-right: 1px solid black; border-bottom: 1px solid black; padding:10px 0px; ">45
                    Questions</div>
                <div class="col-3 p-3" style="border-bottom: 1px solid black; padding:10px 0px">180 Marks</div>
                <div class="col-6 p-3"
                    style="border-right: 1px solid black; border-bottom: 1px solid black; padding:10px 0px;">Chemistry
                </div>
                <div class="col-3 p-3"
                    style="border-right: 1px solid black; border-bottom: 1px solid black; padding:10px 0px;">45
                    Questions</div>
                <div class="col-3 p-3" style="border-bottom: 1px solid black; padding:10px 0px">180 Marks</div>
                <div class="col-6 p-3" style="border-right: 1px solid black; padding:10px 0px">Biology (Botany and
                    Zoology)</div>
                <div class="col-3 p-3" style="border-right: 1px solid black; padding:10px 0px">90 Questions</div>
                <div class="col-3 p-3">360 Marks</div>
            </div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Total Marks</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">720 Marks</div>
        </div>
        <!-- new row -->
        <div class="col-4 table_colums_border">
            <div style="padding:10px 0px;">Marking Scheme</div>
        </div>
        <div class="col-8 table_colums_border">
            <div style="padding:10px 0px;">1. 4 marks for each correct answer <br>
                2. For a wrong answer, 1 Mark will be deducted <br>
                3. There will be 0 mark for unanswered questions</div>
        </div>
    </div>
</section>

{% endblock body %}